@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR&display=swap');

body{
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

.bg{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

#quote{
  font-family: 'East Sea Dokdo', cursive;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
#quote p{
  font-size: 25px;
}

#weather{
  position: absolute;
  top: 0;
  right: 10px;
  width: 100px;
  margin-top: 10px;
  background:rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
  text-align: center;
  border: steelblue 3px solid;
}
#weather p{
  height: 15px;
}

#clock{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  font-size: 40px;
}

.wrap{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#login-form input{
  all: unset;
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
  border: steelblue 5px solid;
  background:rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}
#logined > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logined button{
  all: unset;
  width: 80px;
  height: 30px;
  background:rgba(255, 255, 255, 0.7);
  border: steelblue 3px solid;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}
.hidden{
  display: none;
}
#todo-form input{
  all: unset;
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 25px;
  border: steelblue 5px solid;
  background:rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
  margin-top: 20px;
}
#todo-ul li{
  list-style-type: none;
  height: 30px;
}
#todo-ul li button{
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.openMap{
  all: unset;
  width: 100px;
  height: 30px;
  background:rgba(255, 255, 255, 0.7);
  border: steelblue 3px solid;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
  position: absolute;
  right: 10px;
  top: 135px;
  z-index: 2;
  cursor: pointer;
}
.wrapMap{
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapMap button{
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

#map{
  display: block;
  width: 70vw;
  height: 70vh;
  margin-bottom: 10px;
  border: steelblue 3px solid;
}